<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Pessoa</h1>

<form action="pessoa" method="post">  

<label>Nome:           <input name ="nome">  </label> <br>
<label>Telefone:       <input name ="telefone">  </label> <br>
<label>RG:             <input name ="rg">  </label><br>
<label>Cpf:            <input name ="cpf">  </label><br>
<label>Email:          <input name ="email">  </label><br>
<label>Nascimento:<input type ="date" name ="datanascimento">  </label><br>
<label>Sexo<input name ="sexo">  </label>

<input type ="submit" name = "pessoaadd">
</form>



</body>
</html>